@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');

* {
    user-select: none;
}

h1 {
    font-size: 28pt;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    background-color: #e5e5e5;
	color: #5f5f5f;
    font-family: 'Raleway', sans-serif;
}

body.dark-mode {
	background-color: #5f5f5f;
	color: #e5e5e5;
}

.center {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

article header, article p {
    margin: 0;
}

button {
	border-radius: 40px;
	font-size: 1rem;
	height: 50px;
	width: 150px;
	border: none;
	background-color: #5f5f5f;
	color: #e5e5e5;
	transition: all 0.2s linear;
    cursor: pointer;
}

button:hover {
    color: #5f5f5f;
	background-color: #e5e5e5;
    border: 5px solid #5f5f5f;
}

button.dark-mode {
	background-color: #e5e5e5;
	color: #5f5f5f;
}

button.dark-mode:hover {
	background-color: #5f5f5f;
	color: #e5e5e5;
    border: 5px solid #e5e5e5;
}

footer {
    position: fixed;
    bottom: 0;
    padding: 0 20px;
    text-align: center;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    background-color: #5f5f5f;
	color: #e5e5e5;
    align-items: center;
    flex-wrap: wrap;
}

footer.dark-mode {
	background-color: #2a2a2a;
    color: #a5a5a5;
}

footer p {
    padding: 0 20px;
}

/* Estilos para mobile */
@media (max-width: 500px) {
    h1 {
        font-size: 20pt;
    }

    .center {
        justify-content: space-evenly;
    }

    button {
        height: 35px;
        width: 115px;
        font-size: 0.8rem;
    }

    footer {
        position: static;
        width: 50vw;
        font-size: 10pt;
    }

    footer p {
        padding: 0 5px;
    }
}